<h1>All Received Messages</h1>
<table>
<thead>
<th>Date</th>
<th>From</th>
<th>To</th>
<th>Text</th>
</thead>
<% @allmessages.each do |message| %>
<tr>
	<td>message.direction</td>
	<td><%= message.from %></td>
	<td><%= message.to %></td>
	<td><%= message.body %></td>
</tr>
	<% end %>
</table>