<h1>Welcome, <%=  %></h1>

<div class="form_box">
	<form action="/add_student" method="post">
	  <input type="text" name="parent[student_id]" placeholder="Student ID Number">
	  <input type="submit" value="Add Student">
	</form>
</div>